@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto');

/* colors */
:root {
  --color-text: #002B37;
	--color-text-default: #48656E;
  --color-text-special: #D8232A;
  --color-backgr-default: #FFFFFF;
  --color-backgr-special: #F3F0EC;
}

/* general */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--color-backgr-default);
  padding: .7rem;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  color: var(--color-text);
}

main {
  background-color: var(--color-backgr-special);
  padding: .5rem;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
  "nav nav nav nav"
  "header header header header"
  "books books books books";
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;
  grid-gap: 1rem;
}

/* text */
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  margin: .5rem;
}

h1 {
  font-size: 5rem;
  transition: font-size .2s ease-out;
}

h3 {
  font-size: .8rem;
  margin: 0;
}

p, a {
  color: var(--color-text);
  font-size: 1rem;
}

p {
  margin: .5rem;
}

/* grid */
header {
  grid-area: nav;
}

.container__header {
  grid-area: header;
  width: 80%;
}

.container__books, .container__courses {
  grid-area: books;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  width: 95%;

}

.container__books__side, .container__courses__side {
  grid-column: span 1;
  max-width: 95%;
}

.container__books__content {
  overflow: hidden;
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(4, 23.75%);
  grid-gap: .8rem;
  padding: .5rem;
  text-align: center;
}

.container__courses__content {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: .8rem;
  padding: 1rem 2rem;
  text-align: center;
}

.container__book, .container__course {
  grid-column: span 1;
  text-align: center;
}

/* header, menu, footer */
.menu li {
  display: inline;
}

.footer {
  border-top: 1px solid #ccc;
}

.footer li {
  float: right;
  margin: 2rem .5rem;
}

.footer li:first-of-type {
  float: left;
}

/* styles */
.btn {
  margin: .5rem;
  padding: .35rem 1rem;
  display: inline-block;
  color: var(--color-text-default);
  border: 2px solid var(--color-text-default);  border-radius: 25px;
  text-align: center;
}

.btn__lang {
  display: block;
  text-align: center;
}

a:hover, a:focus, .btn:hover, .btn:focus {
  color: var(--color-text-special);
  border-color: var(--color-text-special);
}

.container__books__side .btn {
  margin-top: 5%;
}

#oba:hover {
  Fill: tomato;
}

.v:hover, .r:hover {
  transform: rotate(45deg);
  display: inline-block;
}

.o:hover, .u:hover {
  transform: rotateX(-45deg);
  display: inline-block;
}

.i:hover {
  transform: rotate(180deg);
  display: inline-block;
}

.oo:hover, .m:hover, .e:hover {
  transform: rotate(45deg);
  display: inline-block;
}

.d:hover, .mm:hover, .s:hover {
  transform: rotateY(-60deg);
  display: inline-block;
}

.spin {
  display: inline;
}

.spin:hover {

}

/* loading state */
#spinner {
  grid-column: span 4;
  width: 10rem;
  height: 10rem;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-text-special);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  } 50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
 0%, 100% {
   transform: scale(0.0);
   -webkit-transform: scale(0.0);
 } 50% {
   transform: scale(1.0);
   -webkit-transform: scale(1.0);
 }
}




/* queries */
@media (max-width: 60em) {
  main {
    grid-template-areas:
    "nav nav nav"
    "header header header"
    "books books books";
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
  }

  h1 {
    font-size: 4rem;
    transition: font-size .2s ease-out;
  }

  .container__books, .container__courses {
    grid-area: books;
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  .container__books__content, .container__courses__content {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  .container__books__side, .container__courses__side {
    width: 85%;
  }
}

@media (max-width: 38em) {
  main {
    grid-template-areas:
    "nav"
    "header"
    "books";
    grid-template-columns: repeat(1, auto);
    grid-template-rows: auto;
  }

  h1 {
    font-size: 3rem;
    transition: font-size .2s ease-out;
  }

  .container__books, .container__courses {
    grid-area: books;
    display: grid;
    grid-template-columns: repeat(1, 50vw);
  }

  .container__books__content, .container__courses__content {

  }

  .container__book, .container__course {
    grid-column: span 1;
  }

  .container__books__side, .container__courses__side {
    width: 85%;
  }
}
